<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.wanjune.minilottery.mapper.DailySignInMapper">

    <insert id="insert">
        INSERT INTO daily_sign_in (user_id, activity_id, sign_date)
        VALUES (#{userId}, #{activityId}, #{signDate})
    </insert>

    <select id="queryByDate" resultType="int">
        SELECT COUNT(*) FROM daily_sign_in
        WHERE user_id = #{userId} AND activity_id = #{activityId} AND sign_date = #{signDate}
    </select>

</mapper>
